<section class="cytat">
    <div class="conteiner">
        <div class="cytatText col-10 mr-auto ml-auto">
            <div class="cytatbox">
                <h4 class=" text-center">
                    Są dwie drogi, aby przeżyć życie. Jedna to żyć tak, jakby nic nie było cudem. Druga to żyć tak, jakby cudem było
                    wszystko.
                </h4>
                <br>
                <cite>Albert Einstein</cite>
            </div>
        </div>
    </div>
</section>
