<section class="omnie">
    <div id="omnielink"></div>
    <div class="conteiner">
        <div class="boxOmnie row mt-2">
            <h1 class="col-12 bm-2 mt-2 mt-lg-5 text-center" id="naglowekOferta">O mnie</h1>
            <div class="col m-5">
                <img class="col-lg-4 img-fluid float-left" src="~/Content/images/teacher.jpg" alt="Nauczyciel">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur corporis porro impedit temporibus, unde laborum qui perferendis! Molestias voluptas possimus omnis incidunt minima, autem dolore provident id hic veritatis quaerat quidem consectetur, modi vitae sit reprehenderit at cumque aliquam fugiat. Voluptate, deleniti? At quas illum non, esse reiciendis eos consequuntur! Reiciendis reprehenderit atque consequuntur ullam recusandae maxime vero delectus aperiam provident id totam, rerum possimus quae molestias similique doloribus vel aliquid neque, officia sapiente? Quibusdam dolorum deserunt ut rem veniam.</p>
            </div>
        </div>
    </div>
</section>