<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Błąd</title>
</head>
<body>
    <div class="container mainwindow">
        <h1 class="text-danger m-4">Błąd.</h1>
        <h2 class="m-4">Wystąpił błąd podczas przetwarzania żądania. Przepraszamy.</h2>
    </div>
</body>
</html>
