@model IEnumerable<DahaimMVC.Models.User>
@{
    
    if (Session["UserName"] == null)
    {
        Response.Redirect("~/Admin/Index");
    }
}
@{
    Layout = "~/Views/Shared/_LayoutControlPanel.cshtml";
}


<h2>Index control panel</h2>

