
@{
    ViewBag.Title = "Index";
    if (Session["UserId"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}
<div class="container">
    <h2 class="m-3 text-info">Proszę poczekać na aktywację konta.</h2>
</div>