
@{
    ViewBag.Title = "Index";
    if (Session["UserId"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}
@{
    Layout = "~/Views/Shared/_LayoutUserDetails.cshtml";
}
    <div class="container">
        <h2>Index</h2>
    </div>

